<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lm.dao.AdminMapper">
    <resultMap id="BaseResultMap" type="com.lm.bean.Admin">
        <id column="aid" jdbcType="INTEGER" property="aid"/>
        <result column="aname" jdbcType="VARCHAR" property="aname"/>
        <result column="apassword" jdbcType="VARCHAR" property="apassword"/>
        <result column="atime" jdbcType="TIMESTAMP" property="atime"/>
    </resultMap>

    <!-- 管理员登录，按姓名和密码查询 -->
    <select id="selectByAdmin" parameterType="com.lm.bean.Admin" resultMap="BaseResultMap">
    select 
    aid, aname, apassword, atime
    from admin
    where aname = #{aname,jdbcType=VARCHAR} and apassword = #{apassword,jdbcType=VARCHAR}
  </select>

    <!-- 管理员注册，按姓名查询 -->
    <select id="selectByAdminName" parameterType="com.lm.bean.Admin" resultMap="BaseResultMap">
    select 
    aid, aname, apassword, atime
    from admin
    where aname = #{aname,jdbcType=VARCHAR}
  </select>
    <!-- 管理员插入-->
    <insert id="insert" parameterType="com.lm.bean.Admin">
    insert into
    admin (aid, aname, apassword, atime)
    values (#{aid,jdbcType=INTEGER}, #{aname,jdbcType=VARCHAR}, #{apassword,jdbcType=VARCHAR}, 
      #{atime,jdbcType=TIMESTAMP})
  </insert>

</mapper>